@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:wght@300..800&display=swap');

html body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-code: 'Fira Code', 'Source Code Pro', monospace;
  --font-size-normal: 14px;
  --font-size-small: 12px;
  --font-size-code: 13px;
  
  --color-text: rgba(200, 200, 200, 0.9);
  --color-text-bright: rgb(230, 230, 230);
  --color-text-code: #6596d6;
  --color-link: #4787d9;
  --color-border: rgba(255, 255, 255, 0.05);
  
  --bg-titlebar: rgba(112, 159, 252, 0.324);
  --bg-titlebar-inactive: rgba(83, 93, 113, 0.324);
  --bg-titlebar-hover: rgba(109, 137, 193, 0.5);
  --bg-editor: rgb(63, 63, 63, 0.5);
  --bg-editor-modal: rgba(51, 59, 73, 0.942);
  --bg-editor-active: rgba(109, 137, 193, 0.4);
  --bg-hover: rgba(255, 255, 255, 0.1);
  
  --shadow-default: 0 2px 5px rgba(0, 0, 0, 0.2);
  --border-radius-lg: 6px;
  --border-radius-sm: 3px;
  --transition-default: all 0.3s ease;
}

*:focus {
  outline: 1px solid var(--color-text);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

text {
  font-family: 'Open Sans', sans-serif;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  width: 38px;
  height: 34px;
  background-color: rgba(40, 44, 52, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.transition {
  transition: all 0.3s ease;
}
