.note-titlebar {
  -webkit-app-region: drag;
  width: calc(100% - 2px);
  margin: 5px;
  padding: 5px 5px 5px 5px;
  border-radius: var(--border-radius-lg);
  background-color: var(--bg-titlebar);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-default);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-titlebar-inactive {
  background-color: var(--bg-titlebar-inactive);
}

.note-titlebar input {
  height: 100%;
  width: 100%;
  -webkit-app-region: none;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-normal);
  font-weight: 500;
  font-family: var(--font-primary);
  color: white;
  background: transparent;
  border: none;
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
  transition: var(--transition-default);
  overflow: hidden;
}

.note-titlebar input:focus {
  background-color: var(--bg-titlebar-hover);
}

.note-titlebar .input-inactive {
  background-color: transparent;
  pointer-events: none;
  -webkit-app-region: drag;
}

.note-titlebar .input-inactive:hover {
  background-color: transparent;
}

.note-titlebar-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.note-titlebar-icon {
  font-size: 20px;
  color: rgb(200, 200, 200);
  margin: 0px 3px;
}

.note-titlebar button {
  border: none;
  background: transparent;
}

.note-control-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.note-titlebar-option {
  height: 30px;
  color: var(--color-text);
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-lg);
  padding: 2px;
  -webkit-app-region: none;
}

.note-titlebar-option:hover {
  background: var(--bg-hover);
}

.note-titlebar-option:hover .note-titlebar-icon {
  color: var(--color-text-bright);
}

.note-container {
  /* width: calc(100% - 16px); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-left: 3px;
  padding-top: 5px;
  padding-right: 5px;
}

.note-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 1px;
  overflow: auto;
  margin: 5px;
}

.editor {
  height: calc(100% - 52px);
}

.mdxeditor-toolbar {
  margin-left: 1px;
  border-radius: var(--border-radius-lg);
  background-color: rgba(40, 44, 52, 1);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-default);
}

.mdxeditor a {
  color: var(--color-link);
}

.mdxeditor-root-contenteditable p {
  font-weight: 400;
  font-family: var(--font-primary);
  line-height: 22px;
  font-size: var(--font-size-normal);
}

.mdxeditor-root-contenteditable ul {
  padding-left: 20px;
  font-size: var(--font-size-normal);
}

.mdxeditor-root-contenteditable ol {
  padding-left: 20px;
  font-size: var(--font-size-normal);
}

.mdxeditor-root-contenteditable code span {
  font-family: var(--font-code);
  border-radius: var(--border-radius-sm);
  padding: 2px 4px;
  color: var(--color-text-code);
}

.mdxeditor-root-contenteditable blockquote {
  font-family: var(--font-primary);
  margin: 8px;
  padding: 5px 5px 5px 1rem;
  font-style: italic;
  font-size: var(--font-size-normal);
  border-left: 3px solid rgb(94, 94, 94);
}

.mdxeditor [class*='codeMirrorToolbar'] {
  display: none !important;
}

.mdxeditor .cm-editor {
  caret-color: var(--color-link) !important;
  background-color: var(--bg-editor);
  box-shadow: var(--shadow-default);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-border);
  color: rgb(216, 216, 216);
  font-size: var(--font-size-code);
}

.mdxeditor [class*='codeMirrorWrapper'] {
  padding: 0 !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cm-gutterElement {
  color: var(--color-text-code);
  font-size: 12px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cm-activeLineGutter {
  background-color: rgb(85, 85, 85) !important;
}

.c4 .cm-content {
  caret-color: var(--color-text-code) !important;
}

.cm-cursor {
  caret-color: transparent !important;
  width: 2px !important;
  background-color: var(--color-text-code);
  color: transparent !important;
  animation: none !important;
}

.mdxeditor .cm-editor .cm-content {
  font-family: var(--font-code) !important;
  font-weight: 400;
}

.mdxeditor-popup-container {
  background: var(--bg-editor);
}

div[aria-label='editable markdown'] {
  height: calc(100vh - 120px);
}

[class*='popoverArrow'] {
  fill: var(--bg-editor-modal) !important;
}

[class*='tableColumnEditorPopoverContent'] {
  border: none;
  background: var(--bg-editor-modal) !important;
}

[class*='toolbarButton'],
[class*='toolbarToggleItem'] {
  cursor: pointer;
  transition: var(--transition-default);
}

[class*='toolbarToggleItem'][data-state='on'] {
  background: var(--bg-editor-active);
}

[class*='toolbarButton']:hover,
[class*='toolbarToggleItem']:hover {
  background: var(--bg-hover);
}

[class*='listItemUnchecked']::before {
  margin-top: 2px;
  border: 1px solid rgb(85, 85, 85);
  /* background-color: #4787d9; */
}

[class*='listItemChecked']:focus,
[class*='listItemUnchecked']:focus {
  outline: none;
}

[class*='listItemChecked']::before,
[class*='listItemChecked']::after {
  margin-top: 2px;
}

[class*='listItemChecked']::before {
  border: 1px solid rgb(34, 34, 34);
  background-color: #4787d9;
}

[class*='cm-selectionMatch'], [class*='cm-matchingBracket'] {
  background: rgba(100, 100, 100, 0.606) !important;
}

.cm-selectionBackground {
  background-color: #3a5f7a95 !important;
}

[class*='linkDialogPopoverContent'],
[class*='tableColumnEditorPopoverContent'] {
  background: var(--bg-editor-modal) !important;
  border-radius: var(--border-radius-lg);
  width: fit-content;
  margin: 0px 5px;
  padding: 5px 8px;
}

[class*='tableColumnEditorToolbar'] button,
[class*='linkDialogPopoverContent'] button {
  transition: all 0.2s ease;
  cursor: pointer;
  color: var(--color-text);
  border-radius: 5px;
}

[class*='linkDialogPopoverContent'] a {
  color: var(--color-link);
}

[class*='linkDialogPreviewAnchor'] svg {
  margin-left: 4px;
  width: 16px;
}

[class*='tableEditor'] {
  border-color: white !important;
}

.note-footer {
  width: 100%;
  height: 8px;
}